%-inline-block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

@mixin inline-block {
	@extend %-inline-block;
}

%-clear-float {
	zoom: 1;
	&:after {
		content: '';
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
	}
}

@mixin clear-float {
	@extend %-clear-float;
}

%-none-font {
	line-height: 0;
	font-size: 0;
	tab-size: 0;
}

@mixin none-font {
	@extend %-none-font;
}

%-absolute-center {
	display: absolute;
	top: 50%;
	left: 50%;
}

%-transform-center {
	@extend %-absolute-center;
	transform: translate3d(-50%, -50%, 0);
}

@mixin absolute-center($width, $height) {
	$margin-top: - $height / 2;
	$margin-left: - $width / 2;
	@extend %-absolute-center;
	width: $width;
	height: $height;
	margin: $margin-top 0 0 $margin-left;
}

@mixin transform-center($width, $height) {
	@extend %-transform-center;
	width: $width;
	height: $height;	
}

@mixin line-clip($line) {
	overflow: hidden;
	-webkit-: {
		line-clamp: $line;
		box-orient: vertical;
	}
}

@mixin media-mindpr($dpr) {

	@media only screen and (-webkit-min-device-pixel-ratio: #{$dpr}),
		only screen and (min--moz-device-pixel-ratio: #{$dpr}),
		only screen and (min-device-pixel-ratio: #{$dpr}),
		only screen and (min-resolution: #{$dpr*96}dpi),
		only screen and (min-resolution: #{$dpr}dppx) {
			@content;
	}
}