%-text-justify {
	$selector: selector_unify(&, ':after');
	text-align: justify;
	text-justify: distribute-all-lines;
	text-align-last: justify;
	-moz-text-align-last: justify;
	-webkit-text-align-last: justify;

	@at-root {
		@media screen and (-webkit-min-device-pixel-ratio:0) {
			#{$selector} {
				content: '\3000';
				overflow: hidden;
				display: inline-block;
				width: 100%;
				height: 0;
			}
		}
	}
}

@mixin text-justify {
	@extend %-text-justify;
}

%-flex-justify {
	display: flex;
	justify-content: space-between;

	> * {
		flex-grow: 0;
	}
}

@mixin flex-justify {
	@extend %-flex-justify;
}

%-inline-block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

@mixin inline-block {
	@extend %-inline-block;
}

%-clear-float {
	zoom: 1;
	&:after {
		content: '';
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
	}
}

@mixin clear-float {
	@extend %-clear-float;
}

%-none-font {
	line-height: 0;
	font-size: 0;
	tab-size: 0;
}

@mixin none-font {
	@extend %-none-font;
}

%-absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
}

%-transform-center {
	@extend %-absolute-center;
	transform: translate3d(-50%, -50%, 0);
}

@mixin absolute-center($width, $height) {
	$margin-top: - $height / 2;
	$margin-left: - $width / 2;
	@extend %-absolute-center;
	width: $width;
	height: $height;
	margin: $margin-top 0 0 $margin-left;
}

@mixin transform-center($width, $height) {
	@extend %-transform-center;
	width: $width;
	height: $height;	
}

@mixin line-clip($line, $inline: false) {
	overflow: hidden;
	text-overflow: ellipsis;
	@if (1 == $line) {
	// 还需要定义非 auto 的 width
		white-space: nowrap;
		@if ($inline) {
		// 行内格式化上下文可能需要用 vertical-align 来调整
			display: inline-block;
		} @else {
			display: block;
		}
	} @else {
		-webkit-line-clamp: $line;
		-webkit-box-orient: vertical;
		@if ($inline) {
			display: -webkit-inline-box;
		} @else {
			display: -webkit-box;
		}
	}
}

@mixin media-mindpr($dpr) {

	@media only screen and (-webkit-min-device-pixel-ratio: #{$dpr}),
		only screen and (min--moz-device-pixel-ratio: #{$dpr}),
		only screen and (min-device-pixel-ratio: #{$dpr}),
		only screen and (min-resolution: #{$dpr*96}dpi),
		only screen and (min-resolution: #{$dpr}dppx) {
			@content;
	}
}

@function image-group($url, $retina: 2) {
	$at: str-index($url, '@');
	$prefix: null;
	$suffix: null;
	@if ($at) {
		$prefix: str-slice($url, 0, $at - 1);
		$suffix: str-slice($url, $at + 3);
	} @else {
		$dot: 0;
		$string: $url;
		@while ($string) {
			$index: str-index($string, '.');
			@if ($index) {
				$dot: $dot + $index;
				$string: str-slice($string, $index + 1);
			} @else {
				$string: null;
			}
		}
		$prefix: str-slice($url, 0, $dot - 1);
		$suffix: str-slice($url, $dot);
	}
	$return: 'image-set(';
	$start: 'url(' + $prefix;
	@for $i from 1 through $retina {
		$end: $suffix + ') ' + $i + 'x, ';
		@if (1 != $i) {
			$end: '@' + $i + 'x' + $end;
		}
		$return: $return + $start + $end;
	}
	$return: str-slice($return, 0, str-length($return) - 2);
	$return: $return + ')';
	@return #{$return};
}