.close, .icon-smile {
  background-image: url("../img/sprite.png");
  background-size: 69px 33px;
  background-repeat: no-repeat; }

.close {
  width: 33px;
  height: 33px;
  background-position: 0px 0px; }

.icon-smile {
  width: 28px;
  height: 28px;
  background-position: -41px 0px; }

.close {
  width: 33px;
  height: 33px;
  background-position: 0px 0px; }
