@import 'sprite';

%-sprite {
	$url: sprite-info('escaped_image');
	$width: sprite-info('width');
	$height: sprite-info('height');
	background: {
		image: url($url);
		size: #{$width}px #{$height}px;
		repeat: no-repeat;
	}
}

@each $name, $sprite in sprite-group('icon') {
	$width: sprite-prop($sprite, 'width');
	$height: sprite-prop($sprite, 'height');
	$offset-x: sprite-prop($sprite, 'offset_x');
	$offset-y: sprite-prop($sprite, 'offset_y');
	// create a rule
	.#{$name} {
		// extend parent rule
		@extend %-sprite;
		// set some private attributes
		width: #{$width}px;
		height: #{$height}px;
		background-position: #{$offset-x}px #{$offset-y}px;
	}
}

.close {
	@extend %-sprite;
	$width: sprite-prop('close', 'width');
	$height: sprite-prop('close', 'height');
	$offset-x: sprite-prop('close', 'offset_x');
	$offset-y: sprite-prop('close', 'offset_y');
	width: #{$width}px;
	height: #{$height}px;
	background-position: #{$offset-x}px #{$offset-y}px;
}