$__sprite-sheet__: (
	"width": 69,
	"height": 33,
	"total_width": 69,
	"total_height": 33,
	"escaped_image": "../img/sprite.png",
	"url": "../img/sprite.png"
);
$__sprite-group__: (
	"default": (
		"close": (
			"name": "close",
			"width": 33,
			"height": 33,
			"escaped_image": "../img/sprite.png",
			"offset_x": 0,
			"offset_y": 0,
			"total_width": 69,
			"total_height": 33,
			"url": "../img/sprite.png"
		)
	),
	"icon": (
		"icon-smile": (
			"name": "icon-smile",
			"width": 28,
			"height": 28,
			"escaped_image": "../img/sprite.png",
			"offset_x": -41,
			"offset_y": 0,
			"total_width": 69,
			"total_height": 33,
			"url": "../img/sprite.png"
		)
	)
);
$__sprite-sheet-2x__: (
	"width": 138,
	"height": 66,
	"total_width": 138,
	"total_height": 66,
	"escaped_image": "../img/sprite@2x.png",
	"url": "../img/sprite@2x.png"
);
$__sprite-group-2x__: (
	"default": (
		"close": (
			"name": "close",
			"width": 66,
			"height": 66,
			"escaped_image": "../img/sprite@2x.png",
			"offset_x": 0,
			"offset_y": 0,
			"total_width": 138,
			"total_height": 66,
			"url": "../img/sprite@2x.png"
		)
	),
	"icon": (
		"icon-smile": (
			"name": "icon-smile",
			"width": 56,
			"height": 56,
			"escaped_image": "../img/sprite@2x.png",
			"offset_x": -82,
			"offset_y": 0,
			"total_width": 138,
			"total_height": 66,
			"url": "../img/sprite@2x.png"
		)
	)
);



@function sprite-prop($name, $property, $retina: false) {
	$type: type-of($name);
	@if ('map' == $type) {
		@return map-get($name, $property);
	}
	$slash: str-index($name, '/');
	$group: null;
	@if ($slash) {
		$group: str-slice($name, 0, $slash - 1);
		$name: str-slice($name, $slash + 1);
	} @else {
		$group: str-index($name, '-');
		$group: if($group, str-slice($name, 0, $group - 1), 'default');
	}
	$set: if($retina, $__sprite-group-2x__, $__sprite-group__);
	$group: map-get($set, $group);
	$name: map-get($group, $name);
	@return map-get($name, $property);
}

@function sprite-info($prop, $retina: false) {
	$sheet: if($retina, $__sprite-sheet-2x__, $__sprite-sheet__);
	@return map-get($sheet, $prop);
}

@function sprite-group($group, $retina: false) {
	$set: if($retina, $__sprite-group-2x__, $__sprite-group__);
	@return map-get($set, $group);
}