$__sprite-close: ("name":"close","width":33,"height":33,"escaped_image":"../img/sprite.png","offset_x":0,"offset_y":0,"total_width":69,"total_height":33);
$__sprite-icon-smile: ("name":"icon-smile","width":28,"height":28,"escaped_image":"../img/sprite.png","offset_x":-41,"offset_y":0,"total_width":69,"total_height":33);
$__sprite-default: ("close": $__sprite-close);
$__sprite-icon: ("icon-smile": $__sprite-icon-smile);
$__sprite-namespace: ("default": $__sprite-default, "icon": $__sprite-icon);
$__sprite-spritesheet: ("width":69,"height":33,"total_width":69,"total_height":33,"escaped_image":"../img/sprite.png");
$__sprite-close-2x: ("name":"close","width":66,"height":66,"escaped_image":"../img/sprite@2x.png","offset_x":0,"offset_y":0,"total_width":138,"total_height":66);
$__sprite-icon-smile-2x: ("name":"icon-smile","width":56,"height":56,"escaped_image":"../img/sprite@2x.png","offset_x":-82,"offset_y":0,"total_width":138,"total_height":66);
$__sprite-default-2x: ("close": $__sprite-close-2x);
$__sprite-icon-2x: ("icon-smile": $__sprite-icon-smile-2x);
$__sprite-namespace-2x: ("default": $__sprite-default-2x, "icon": $__sprite-icon-2x);
$__sprite-spritesheet-2x: ("width":138,"height":66,"total_width":138,"total_height":66,"escaped_image":"../img/sprite@2x.png");



@function sprite-prop($name, $property, $retina: false) {
	$type: type-of($name);
	@if ('map' == $type) {
		@return map-get($name, $property);
	}
	@if ('string' == $type) {
		$prefix: str-index($name, '-');
		$prefix: if($prefix, str-slice($name, 0, $prefix - 1), 'default');
		$namespace: if($retina, $__sprite-namespace-2x, $__sprite-namespace);
		@if (map-has-key($namespace, $prefix)) {
			$group: map-get($namespace, $prefix);
			@if (map-has-key($group, $name)) {
				$sprite: map-get($group, $name);
				@return map-get($sprite, $property);
			}
		}
	}
	@return '';
}

@function sprite-info($prop, $retina: false) {
	$spritesheet: if($retina, $__sprite-spritesheet-2x, $__sprite-spritesheet);
	@return map-get($spritesheet, $prop);
}

@function sprite-group($name, $retina: false) {
	$namespace: if($retina, $__sprite-namespace-2x, $__sprite-namespace);
	@return map-get($namespace, $name);
}