$__sprite-group1-smile: ( 'name': 'group1-smile', 'namespace': 'group1', 'width': 28, 'height': 28, 'escaped_image': '../img/sprite.png', 'offset_x': -41, 'offset_y': 0, 'total_width': 69, 'total_height': 33 );
$__sprite-group2-close: ( 'name': 'group2-close', 'namespace': 'group2', 'width': 33, 'height': 33, 'escaped_image': '../img/sprite.png', 'offset_x': 0, 'offset_y': 0, 'total_width': 69, 'total_height': 33 );
$__sprite-namespace: ('group1': ('group1-smile': $__sprite-group1-smile),'group2': ('group2-close': $__sprite-group2-close));
$__sprite-spritesheet: ( 'escaped_image': '../img/sprite.png', 'total_width': 69, 'total_height': 33 );
$__sprite-group1-smile-2x: ( 'name': 'group1-smile-2x', 'namespace': 'group1', 'width': 56, 'height': 56, 'escaped_image': '../img/sprite@2x.png', 'offset_x': -82, 'offset_y': 0, 'total_width': 138, 'total_height': 66 );
$__sprite-group2-close-2x: ( 'name': 'group2-close-2x', 'namespace': 'group2', 'width': 66, 'height': 66, 'escaped_image': '../img/sprite@2x.png', 'offset_x': 0, 'offset_y': 0, 'total_width': 138, 'total_height': 66 );
$__sprite-namespace-2x: ('group1': ('group1-smile-2x': $__sprite-group1-smile-2x),'group2': ('group2-close-2x': $__sprite-group2-close-2x));
$__sprite-spritesheet-2x: ( 'escaped_image': '../img/sprite@2x.png', 'total_width': 138, 'total_height': 66 );



@function sprite-prop($name, $property, $retina: false) {
	$type: type-of($name);
	@if ('map' == $type) {
		@return map-get($name, $property);
	}
	@if ('string' == $type) {
		$prefix: str-index($name, '-');
		$prefix: str-slice($name, 0, $prefix - 1);
		$namespace: if($retina, $__sprite-namespace-2x, $__sprite-namespace);
		$group: map-get($namespace, $prefix);
		$sprite: map-get($group, $name);
		@return map-get($sprite, $property);
	}
	@return '';
}

@function sprite-info($prop, $retina: false) {
	$spritesheet: if($retina, $__sprite-spritesheet-2x, $__sprite-spritesheet);
	@return map-get($spritesheet, $prop);
}

@function sprite-group($name, $retina: false) {
	$namespace: if($retina, $__sprite-namespace-2x, $__sprite-namespace);
	@return map-get($namespace, $name);
}