@import '_spr_s';

%-sprite {
	// 此模式下首参数 `default` 是可选的
	$width: #{sprite-info('width')}px;
	$height: #{sprite-info('default', 'height')}px;
	$url: sprite-info('url', true);
	content: '\3000';
	display: inline-block;
	padding: 1px;
	background: url($url) no-repeat;
	background: {
		origin: content-box;
		size: $width $height;
	}
}

// 此模式下如果首参数为 `default`，则是可选的
// 如果图片名中含有“-”，则以此分割不同组，没有短横线默认分到 default 组
@each $name, $sprite in sprite-group('default') {
	%-sprite-#{$name} {
		$width: sprite-prop($sprite, 'width');
		$height: sprite-prop($sprite, 'height');
		$x: sprite-prop($sprite, 'offset_x');
		$y: sprite-prop($sprite, 'offset_y');
		@extend %-sprite;
		width: #{$width}px;
		height: #{$height}px;
		line-height: #{$height}px;
		background-position: #{$x}px #{$y}px;
	}
}

body {
	> p {

		&:nth-of-type(1):before {
			// 此模式下，以文件名方式作为查询条件
			$width: sprite-prop('icon-smile', 'width');
			$height: sprite-prop('icon-smile', 'height');
			$x: sprite-prop('icon-smile', 'offset_x');
			$y: sprite-prop('icon-smile', 'offset_y');
			$url: sprite-prop('icon-smile', 'url', true);
			$total_width: sprite-prop('icon-smile', 'total_width');
			$total_height: sprite-prop('icon-smile', 'total_height');
			@extend %-sprite;
			width: #{$width}px;
			height: #{$height}px;
			line-height: #{$height}px;
			background: {
				image: url($url);
				size: #{$total_width}px #{$total_height}px;
				position: #{$x}px #{$y}px;
			}
		}

		&:nth-of-type(2):before {
			@extend %-sprite-qqzone;
		}

		&:nth-of-type(3):before {
			@extend %-sprite-close;
		}
	}
}